header{
    width: 100%;
    
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;

}

img{
    width: 100%;
    height: auto;
}


* ul {
    list-style: none;
    padding: auto;
    margin-left: 0px; 
    margin-top: 0px;
        
    
    text-decoration: none;
}

body {
    margin: 0;
    
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #EEEEEE;
}



.header-info{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-info__block{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info-mail:hower{
    color: #2196F3

}

.header-info-phone{
    color: #757575;
}

.main-block{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.main-block__wrapper{
    max-width: 1170px;
        margin: 0 auto;
    gap: 93px;
    justify-content: space-between ;
    display: flex;
    align-items: center;

}

.header-info-nav1{
    
    display: flex;
    align-items: block;
    justify-content: flex-start;
    gap: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    
}



.filters{
    margin-top: 94px;
    display: flex;
    justify-content: center;
    gap: 8px   ;
    

  
}
.filter_button{
    outline: none;
    border: none;
    box-shadow: none;
    background-color:#F5F4FA;
    padding: 6px 22px;
    border-radius: 4px;
}
.filter_button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.filter_button.active{
    background-color: #2196F3;

}
.filter_button.active a{
    color: #FFFFFF;
    
}

button:hover,
button:focus{
    background-color: #2196F3;

}


.button{

    cursor: pointer;
}



.filter_main{
    padding: 0;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
    width: 100%;
}

.p1{
    
    font-style: roboto; 
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 36px;
}

.p2{
    font-style: roboto; 
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

.header-info-contacts{
    padding-right: 35px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}


.webstudio-icon{ 
    text-decoration: none;
    line-height: 100%;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
    margin-bottom: 20px;
    display: block;
}
.webstudio-icon .black{
    color: #000000;
}

.webstudio-icon .white {
    color: #fff;
}
.main-block__wrapper .webstudio-icon {
    margin-bottom: 0;
}

footer{
    padding: 60px 0;
    background-color: #2F303A;
    width: 100%;
   
}
.footer_address{
    margin-bottom: 9px;

}

.footer_address a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}
.footer_contact{
    margin-top: 9px;
}


.footer_contact a{
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;

}

address {
    font-style: normal;
}

.container-footer{
    max-width: 1170px;
    margin: 0 auto;
    
    
    display: flex;
    flex-direction: column;
    
}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 500, 700, 900;
    font-style: normal;

}

.roboto-uniquifier {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
}